# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/tmp/**/*
webrat.log

#Ignore documentation files
/doc/app
/doc/api

*.swp
*~
.DS_Store

#ignore rubymine config
/.idea
